<div class="footer-bottom copyright-area">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="copyright">
					&copy; {{date format="YYYY"}} <a href="{{@blog.url}}">{{@blog.title}}</a>. All right Reserved - Powered by <a href="http://ghost.org" target="blank">Ghost</a>
				</div>
			</div>
		</div>
	</div>
</div>