<div class="search-popup">
	<div class="close-button">
		<i class="material-icons">&#xE5C9;</i>
	</div>
	<div class="container popup-inner">
		<div class="row">
			<div class="col-sm-12">
				<form>
					<div class="input-group">
							<input type="email" class="required" id="search-input">
							<span class="bar"></span>
							<label>Type to search</label>
						</div>
					<!-- <input type="text"  placeholder="" /> -->
				</form>
				<div id="search-results">
					
				</div>
			</div>
		</div>
	</div>
</div>