<div class="share-wrap pull-right">
	<i class="material-icons share-button ripple">&#xE80D;</i>
	<div class="share-link-wrap">
		<!-- facebook -->
		<a class="facebook ripple" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;"><i class="fa fa-facebook"></i> Facebook</a>
		<!-- twitter -->
		<a class="twitter ripple" href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;"><i class="fa fa-twitter"></i> Twitter</a>
		<!-- google plus -->
		<a class="google-plus ripple" href="https://plus.google.com/share?url={{url absolute="true"}}" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;"><i class="fa fa-google-plus"></i> Google plus</a>
	</div>
</div>