<div class="widget-newsletter">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h4 class="h3 title">STAY UPDATE WITH US !</h4>
				Subscribe to our newsletter and get update directly in your inbox. You can unsubscribe anytime.
			</div>
			<div class="col-sm-6">
				<div id="mc_embed_signup">
					<form action="#" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" novalidate>
						<div class="input-group">
							<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" >
							<span class="bar"></span>
							<label>Your Email</label>
							<button type="submit" class="submit-button">
								<i class="material-icons">&#xE163;</i>
							</button>
						</div>
					</form>
					<div id="message"></div>
				</div>
			</div>
		</div>
	</div>
</div>