<div class="widget">
	<h4 class="title">Follow Us</h4>
	<div class="content clearfix">
		<ul class="social">
			<!-- start social links -->
			<!-- replace the # with your own profile link address -->
			<li><a href="http://twitter.com/madole" class="twitter"><i class="fa fa-twitter"></i></a></li>
			<li><a href="http://github.com/madole" class="github"><i class="fa fa-inverse fa-github"></i></a></li>
			<li><a href="https://au.linkedin.com/in/andrew-mcdowell-0092649b"class="linkedin"><i class="fa fa-linkedin"></i></a></li>
			<li><a href="{{@blog.url}}/rss/" class="rss"><i class="fa fa-rss"></i></a></li>
			<!-- end social links -->
		</ul>
	</div>
</div>
