{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{> cover-single}}

<div class="main-content-area">
	<div class="container">
		<div class="row">
			{{#post}}
			<div class="col-md-12">
				<article class="card card-single post-wrap {{post_class}}">
					<div class="single-head">
						<h2 class="h1 title">{{title}}</h2>
					</div>
					<div class="card-header {{^if image}}no-image{{/if}}">
						{{#if image}}
						<img src="{{image}}">
						{{/if}}
					</div>
					<div class="content">
						<div class="post-entry">
							{{content}}
						</div>
					</div>
				</article>
			</div>
			{{/post}}
		</div>
	</div>
</div>